<div class="flex gap-4">
  <div class="mb-4">
    <form id="add-task-form">
      <button type="submit">Add Task</button>
    </form>
  </div>

  <div id="task-list">
    <!-- タスクリストがここに表示されます -->
  </div>
</div>

<script>
  import { columns, addTask } from "../lib/taskStore";

  const form = document.getElementById("add-task-form");
  if (!form) throw new Error("add-task-form not found");
  const taskList = document.getElementById("task-list");
  if (!taskList) throw new Error("task-list not found");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("submit");
    const title = "Hoge";
    const description = "XX";
    addTask("todo", title, description);
  });

  columns.subscribe(($columns) => {
    taskList.innerHTML = $columns
      .map(
        (column) => `
          <div class="border border-gray-300 rounded-md p-4">
            <h3 class="text-lg font-bold">${column.title}</h3>
            <p class="text-gray-500">${column.tasks.map((task) => task.title).join(", ")}</p>
          </div>
        `
      )
      .join("");
  });
</script>
